* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Centering tables */
.table, 
.navigation-tb, 
.helper-tb, 
.list-tb, 
.copy-tb {
    width: 85%;
    margin: 0 auto;
    max-width: 900px;
}

.header-container {
    margin-bottom: 90px;
}


/* -------------Content styling------------------ */

.header-info {
    text-align: center;
    padding: 100px;
    margin: 0 auto;
    background-color: #09091d;
    color: white;
}

.title {
    color: tomato;
    font-size: 74px;
}

.subtitle {
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    letter-spacing: 0.4em;

    margin-bottom: 40px;
}

/* ---------- Navigation Menu fixed ------ */

nav {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 20px;

    position: relative;
}

.buttons {
    display: flex;
    flex-direction: column;
   
    margin: 20px;
    /* gap: 0.8em; */

    position: fixed;
}

.buttons li {
    list-style: none;
    margin-bottom: 30px;
}

.buttons li a {
    padding: 10px 25px;
    border-radius: 6px;
    border-style: none;
    /* border: 1px solid #09091d; */
    opacity: 0.8;

    background-color: tomato;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.command {
    padding: 3px 8px;
    background-color: rgb(250, 232, 217);
    color: #09091d;
    border-radius: 2px;
}

/* Table content */

table {
    border-spacing: 0;
    width: 100%;
    
}

.table-title {
    background-color: rgb(108, 113, 146);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    
}

.table-container {
    margin-bottom: 30px;
    width: 100%;
    
}

.table-head {
    background-color: rgb(204, 204, 204);
    
}

.table-head th {
    font-weight: 500;
    padding: 10px;
}

td {
    padding: 10px 5px;
}

.row-tint {
    background-color: rgb(248, 248, 248);
}


/* Section Redirecting */

.table .segment {
    text-align: center;
    margin-bottom: 60px;
}

.table .segment h2 {
    font-size: 35px;
}

/* Footer stuff */

.sources {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #09091d;
}

.sources-title {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 8px;
}

.sources li {
    text-decoration: none;
    list-style: none;
}